* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito", sans-serif;
	/*	border: 1px solid blue; */
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url(https://images.unsplash.com/photo-1595895107207-44258d44837c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3024&q=80);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 3rem;
}

form {
	margin: 3rem;
	width: 90%;
	max-width: 1000px;
	/*	border: 3px solid red; */
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.1rem;
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.8) 60%, rgb(37, 150, 190, 0.8));
	background-repeat: no-repeat;
	background-size: cover;
	border: solid rgb(81, 158, 129) 3px;
}

#title {
	margin-bottom: 1em;
	font-size: 2em;
	font-weight: 700;
	color: #519e80;
}

#description {
	font-size: 1.6rem;
	color: #a66844;
	font-weight: 500;
}

fieldset {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 90%;
	margin: 1em;
	padding-left: 6em;
	padding-right: 6em;
	border-bottom: 3px solid #bf9267;
	border-top: none;
	border-left: none;
	border-right: none;
	color: #519e80;
}

.one {
	padding-bottom: 1.5em;
}

label,
p {
	margin-bottom: 1em;
	font-size: 1.3rem;
}

input[type="text"],
select {
	height: 1.7rem;
}

input,
textarea,
select {
	font-size: 0.9em;
	background-color: #ffffff;
	border: 1px solid #8c6848;
	border-radius: 10px;
	color: #99795d;
}

input[type="radio"],
input[type="checkbox"] {
	background-color: #8c6848;
}

.one label {
	font-weight: 600;
}

.one input {
	margin-bottom: 2em;
}

.two {
	padding-bottom: 2.5em;
}

.two p,
.two label:nth-child(4),
.three p,
.four p {
	font-weight: 600;
}

input[name="education-type"] {
	margin-left: 3em;
}

.two label:first-of-type {
	margin-bottom: 0.5em;
	color: #8c6848;
}

.two label:nth-child(3) {
	color: #8c6848;
}

.two label:last-of-type {
	margin-top: 1em;
}

.three label {
	margin-left: 3em;
	margin-bottom: 0.5em;
}

.three {
	color: #8c6848;
	padding-bottom: 2em;
}

textarea {
	display: block;
	margin: auto;
	width: 95%;
}

.four {
	padding-bottom: 2.5em;
}

#submit {
	margin-top: 1em;
	margin-bottom: 2em;
	width: 15%;
	height: 2em;
	font-size: 1.1rem;
	background-color: #ffd8b5;
	border-color: #99795d;
	color: #594736;
}

/* @media queries */
@media only screen and (max-width: 600px) {
	p {
		text-align: center;
	}

	form {
		margin: 1rem;
	}

	fieldset {
		border: none;
		width: 90%;
	}

	input {
		width: 100%;
	}

	#learning-source {
		width: 40%;
	}

	#submit {
		margin: 1rem;
	}
}
